.reservation-edit {
    text-align: center;
}

#reservation-edit-h1-title-large {
    color: white;
    padding-top: 20px;
}

#reservation-edit-h1-title-small {
    color: white;
    padding-top: 15px;
}